@use '@angular/material' as mat;

header{
    background: #EEEEEE;
    border-bottom: #E0E0E0 1px solid;
    padding: 1rem;
    margin: 0;

    .subtitle{
        color: #666;
        font-size: 12px;
        margin: 1rem 0;
    }

    h1{
        margin: 0;
        small{
            font-size: 16px;
            opacity: 0.7;
        }
    }

    p{
        font-size: 21px;
        font-weight: 200;
        margin: 0 0 1rem 0;
        line-height: 1.5;
    }

    .tags{
        display: flex;
        gap: 4px;
    }
}

.examples{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    border-bottom: #E0E0E0 1px solid;
    background: #F5F5F5;
    .user-story{
        flex: 1;
        markdown{
            display: block;
            margin-top: -32px;
        }
    }
    .code-example{
        width: 320px;
    }

    @include mat.card-overrides((
        elevated-container-color: #fff,
        elevated-container-elevation: red,
    ));
}

.page{
    padding:0 2rem;
}