<app-layout>
  @if (pattern(); as p) {
    <div class="page-wrapper">
      <section class="title">
        <p class="subtitle">Created by {{p.author}} @ {{p.createdAt}}</p>
        <markdown [data]="title()"></markdown>
      </section>


      <header>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{p.title}} <small>{{p.section}}</small></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{p.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <div class="tags">
              @for (tag of p.tags; track tag) {
                <mat-chip>{{ tag }}</mat-chip>
              }
            </div>
          </mat-card-actions>
        </mat-card>
      </header>

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>User Story</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <markdown [data]="userStoryPreview()"></markdown> 
            </mat-card-content>
            <mat-card-actions>
              <button [routerLink]="['/patterns', p.section, p.id, 'story']" mat-flat-button>Read More</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>

        <mat-card>
          <mat-card-header>
            <mat-card-title>Code Example</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="tree">
              <div class="node">
                <mat-icon>data_object</mat-icon>
                package.json
              </div>
              <div class="node">
                <mat-icon>folder</mat-icon>
                src
              </div>
              @for (f of exampleFiles(); track $index) {
                <div class="node indent">
                  <mat-icon>code</mat-icon>
                  {{f}}
                </div>
              }
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button [routerLink]="['/patterns', p.section, p.id, 'example']" mat-flat-button>View Code</button>
          </mat-card-actions>
        </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
  
      <div class="page">
        <markdown 
          [src]="'https://raw.githubusercontent.com/ai-standards/ai-design-patterns/refs/heads/main/patterns/' + p.id + '/README.md'"
        ></markdown> 
      </div>
      <div class="sidebar">




      </div>
    </div>
  }
</app-layout>