.page-wrapper{
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
}

.page{
    flex: 1;
}

.sidebar{
    width: 420px;

    mat-card{
        margin-bottom: 2rem;
    }
}


.tree{
    mat-icon{
        transform: scale(0.7);
    }

    .node{
        display: flex;
        align-items: center;

        &.indent{
            margin-left: 1rem;
        }
    }
}