@use '@angular/material' as mat;

.layout {
  background: var(--color-root);
  @include mat.toolbar-overrides((
    container-background-color: var(--color-root),
    container-text-color: #f5f5f5
  ));
  @include mat.sidenav-overrides((
    container-background-color: var(--color-mid),
    container-text-color: #fff,
    content-background-color: var(--color-root),
  ));
}
.page-toolbar {
  background: var(--color-mid);
  @include mat.toolbar-overrides((
    container-background-color: var(--color-root),
    container-text-color: #f5f5f5
  ));
}

.brand{
  font-weight: 600;
  font-family: var(--font-headline);
  font-size: 1.5rem;
}

.sidebar{
  height: 100%;
  display: flex;
  flex-direction: column;

  .nav{
    flex: 1;
  }

  .cta{
    padding: 1rem;
    font-weight: 300;
    background: var(--color-root);
    p{
      opacity: 0.25;
      font-size: 12px;
    }
  }
}

.content{
  background: #fff;
  height: 85vh;
  overflow: auto;
}