<div class="layout">
  <mat-toolbar class="navbar">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="brand" [style.flex]="1">AI Design Patterns</span>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav 
      mode="side"
      [opened]="sidenavOpen()" 
      [fixedInViewport]="true" 
      [fixedTopGap]="64"
      [fixedBottomGap]="0">
        <div class="sidebar">
          <div class="nav">
            <app-pattern-tree></app-pattern-tree>
          </div>
          <div class="cta">
            <strong>Discovered a breakthrough pattern in your AI work?</strong>
            <p>Your insights can set the standard. Contribute your AI pattern and 
              help build the definitive resource for our field.</p>
            <button mat-flat-button>
              <mat-icon>add</mat-icon>
              Create a new design pattern
            </button>
          </div>
        </div>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <div class="page-toolbar">
        <mat-toolbar>
          <app-breadcrumbs></app-breadcrumbs>
          <span [style.flex]="1"></span>
          <app-page-toolbar></app-page-toolbar>
        </mat-toolbar>
      </div>
      <div class="content">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</div>