<div class="layout">
  <mat-toolbar>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">AI Design Patterns</span>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sidenavOpen()">
      <button mat-flat-button>
        <mat-icon>add</mat-icon>
        Create a new design pattern
      </button>
      @for (section of sections(); track section.id) {
        <mat-expansion-panel class="stacked-header-panel">
          <mat-expansion-panel-header class="stacked">
            <mat-panel-title>{{ section.title }}</mat-panel-title>
            <mat-panel-description>{{ section.blurb }}</mat-panel-description>
          </mat-expansion-panel-header>
          
          <mat-nav-list>
            @for (pattern of index()[section.id] || []; track pattern.id) {
              <mat-list-item [activated]="false">
                <a matListItemTitle [routerLink]="['/patterns', pattern.id]">{{ pattern.title }}</a>
                <button matIconButton (click)="showInfo(pattern)" matListItemMeta>
                  <mat-icon>info</mat-icon>
                </button>
              </mat-list-item>
            }
          </mat-nav-list>
        </mat-expansion-panel>
      }
    </mat-sidenav>
    
    <mat-sidenav-content>
      
      <div class="content">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</div>