<div [class]="classnames()">
    <div class="tree-node">
        <button matIconButton (click)="toggle()">
            <mat-icon>add_box</mat-icon>
        </button>
        <div class="tree-node-label">
            <h3>{{section.title}}</h3>
            <p>{{section.description}}</p>
        </div>
    </div>
    @if(expanded()) {
        <div class="children">
            @for(pattern of section.patterns; track pattern.id) {
                <app-pattern-node [pattern]="pattern"></app-pattern-node>
            }
        </div>
    }
</div>
