.tree-node{
    display: flex;
    gap: .5rem;
    h3{
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }
    p{
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        margin: 0; 
    }
}
.children{
    margin:0 0 0 48px;
}

.section-node{
    margin-bottom: 1rem;
}